In [1]:
def sigmoid(prediction):
    '''
    Sigmoid activation function, from logistic regression slides. 
    '''
    return 1. / (1. + np.exp(-prediction))
    #return np.exp(prediction) / (1. + np.exp(prediction))

In [2]:
def relu_(prediction):
    '''
    Relu activation function
    '''
    return prediction

In [3]:
def cost_mse_ols(design, data, beta):
    '''
    Mean squared error
    '''
    return (data - design.dot(beta)).T*(data - design.dot(beta))

In [4]:
def cost_grad_ols(design, data, beta):
    '''
    Calculates the first derivative of MSE w.r.t beta.
    '''
    return (2/len(data))*design.T.dot(design.dot(beta)-data) #logistic regression slides

In [98]:
def cost_log_ols(prediction, data):
    '''
    Logisitic regression cost function
    '''
    calc = -data.dot(np.log(sigmoid(prediction)+ 1e-16)) - ((1 - data).dot(np.log(1 - sigmoid(prediction) + 1e-16)))
    norm = calc/data.shape[1]
    return norm
#return -np.mean(data.dot(prediction.T)-np.log(1+np.exp(prediction)))

In [6]:
def cost_grad_log_ols(design, data, p):
    '''
    Gradient w.r.t log
    '''
    return (1/len(data))*design.T.dot(data-p)

In [7]:
def gradient_solver(N, eta, design, data, beta=None):
    M=len(data)
    if beta != None:
        beta = beta
    else:
        beta = np.random.randn(design.shape[1])
     
    for i in range(N):
        gradients = cost_grad_ols(design,frank,beta)
        beta -= eta*gradients
    return beta

In [8]:
import functions_class as fx
import classx as cl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score

In [9]:
n_x         = 50
x           = np.linspace(0, 1, n_x)
y           = np.linspace(0, 1, n_x)

x_mesh, y_mesh  = np.meshgrid(x,y)
noise_level     = 0.01
frank           = fx.FrankeFunction(x_mesh, y_mesh, noise_level)

frank = np.ravel(frank)

In [10]:
design = fx.DesignDesign(x,y,10)
data = frank.reshape([n_x*n_x,1])
np.random.seed(2018)
M=len(data)
N=10000
eta=0.1

beta = gradient_solver(N, eta, design, data)


prediction = design @ beta
pred = np.reshape(prediction,[n_x,n_x])

In [11]:

# Trying to set the seed
np.random.seed(0)
import random
random.seed(0)

# Reading file into data frame
directory = os.getcwd()
filename = directory + '/cred_card.xls'
nanDict = {} # fjerner NaN 
dataframe = pd.read_excel(filename, header=1, skiprows=0, index_col=0, na_values=nanDict)


dataframe.rename(index=str, columns={"default payment next month": "defaultPaymentNextMonth"}, inplace=True)

# Features and targets 
X = dataframe.loc[:, dataframe.columns != 'defaultPaymentNextMonth'].values
y = dataframe.loc[:, dataframe.columns == 'defaultPaymentNextMonth'].values

# Categorical variables to one-hot's
onehotencoder = OneHotEncoder(categories="auto")

X = ColumnTransformer(
    [("", onehotencoder, [3]),],
    remainder="passthrough"
).fit_transform(X)



# Train-test split
trainingShare = 0.5 
seed  = 1
XTrain, XTest, yTrain, yTest=train_test_split(X, y, train_size=trainingShare, \
                                              test_size = 1-trainingShare,
                                             random_state=seed)

# Input Scaling
sc = StandardScaler()
XTrain = sc.fit_transform(XTrain)
XTest = sc.transform(XTest)

# One-hot's of the target vector
Y_train_onehot, Y_test_onehot = onehotencoder.fit_transform(yTrain), onehotencoder.fit_transform(yTest)


# Remove instances with zeros only for past bill statements or paid amounts
'''
dataframe = dataframe.drop(dataframe[(dataframe.BILL_AMT1 == 0) &
                (dataframe.BILL_AMT2 == 0) &
                (dataframe.BILL_AMT3 == 0) &
                (dataframe.BILL_AMT4 == 0) &
                (dataframe.BILL_AMT5 == 0) &
                (dataframe.BILL_AMT6 == 0) &
                (dataframe.PAY_AMT1 == 0) &
                (dataframe.PAY_AMT2 == 0) &
                (dataframe.PAY_AMT3 == 0) &
                (dataframe.PAY_AMT4 == 0) &
                (dataframe.PAY_AMT5 == 0) &
                (dataframe.PAY_AMT6 == 0)].index)
'''
dataframe = dataframe.drop(dataframe[(dataframe.BILL_AMT1 == 0) &
                (dataframe.BILL_AMT2 == 0) &
                (dataframe.BILL_AMT3 == 0) &
                (dataframe.BILL_AMT4 == 0) &
                (dataframe.BILL_AMT5 == 0) &
                (dataframe.BILL_AMT6 == 0)].index)

dataframe = dataframe.drop(dataframe[(dataframe.PAY_AMT1 == 0) &
                (dataframe.PAY_AMT2 == 0) &
                (dataframe.PAY_AMT3 == 0) &
                (dataframe.PAY_AMT4 == 0) &
                (dataframe.PAY_AMT5 == 0) &
                (dataframe.PAY_AMT6 == 0)].index)

In [16]:
dataframe

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,defaultPaymentNextMonth
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
6,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
7,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
8,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
9,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
10,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,13007,13912,0,0,0,13007,1122,0,0
11,200000,2,3,2,34,0,0,2,0,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
12,260000,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
13,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
14,70000,1,2,2,30,1,2,2,0,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
15,250000,1,1,2,29,0,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
16,50000,2,3,3,23,1,2,0,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
17,20000,1,1,2,24,0,0,2,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
18,320000,1,1,1,49,0,0,0,-1,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
21,130000,2,3,2,39,0,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
22,120000,2,2,1,39,-1,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
23,70000,2,2,2,26,2,0,0,2,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
24,450000,2,1,1,40,-2,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
25,90000,1,1,2,23,0,0,0,-1,0,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
26,50000,1,3,2,23,0,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
27,60000,1,1,2,27,1,-2,-1,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,1
28,50000,2,3,2,30,0,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
29,50000,2,3,1,47,-1,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
30,50000,1,1,2,26,0,0,0,0,0,...,17907,18375,11400,1500,1500,1000,1000,1600,0,0
31,230000,2,1,2,27,-1,-1,-1,-1,-1,...,15339,14307,36923,17270,13281,15339,14307,37292,0,0
32,50000,1,2,2,33,2,0,0,0,0,...,22734,23217,23680,1718,1500,1000,1000,1000,716,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29966,140000,1,2,1,32,0,0,0,0,0,...,137450,135638,136375,6300,6500,6300,6000,5200,5000,0
29967,150000,1,5,2,31,2,0,0,0,-2,...,0,0,0,4633,2000,0,0,0,0,1
29968,50000,1,2,1,32,0,0,0,-1,2,...,50551,40590,39384,2686,0,50551,0,1600,1500,0
29969,20000,1,2,2,34,0,0,0,0,0,...,13478,16978,12914,2000,2000,1000,5000,12914,600,0
29970,200000,1,2,1,33,0,0,0,0,0,...,56768,58826,67577,5000,2183,2059,3000,9751,3000,0
29971,360000,1,1,1,34,-1,-1,-1,0,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
29972,80000,1,3,1,36,0,0,0,0,0,...,69674,71070,73612,2395,2500,2530,2556,3700,3000,0
29973,190000,1,1,1,37,0,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
29975,50000,1,2,1,37,1,2,2,2,0,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29976,220000,1,2,1,41,0,0,-1,-1,-2,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29977,40000,1,2,2,47,2,2,3,2,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29978,420000,1,1,2,34,0,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
29979,310000,1,2,1,39,0,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29981,50000,1,3,2,42,0,0,0,0,0,...,50360,19971,19694,10000,4000,5000,3000,4500,2000,0
29982,50000,1,2,1,44,1,2,2,2,0,...,28192,22676,14647,2300,1700,0,517,503,585,0
29983,90000,1,2,1,36,0,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29984,20000,1,2,1,44,-2,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29985,30000,1,2,2,38,-1,-1,-2,-1,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29988,130000,1,1,2,34,0,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
29989,250000,1,1,1,34,0,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
29990,150000,1,1,2,35,-1,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
29991,140000,1,2,1,41,0,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29993,10000,1,3,1,43,0,0,0,-2,-2,...,0,0,0,2000,0,0,0,0,0,0
29994,100000,1,1,2,38,0,-1,-1,0,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
29995,80000,1,2,2,34,2,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29996,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [ ]:
# Set up datasets

data_new = dataframe.rename({'defaultPaymentNextMonth':'y'}, axis='columns')

payment = data_new['y']

# SEX

sex = dataframe['SEX']


# Education

edu = dataframe['EDUCATION']


# Marriage

mar = dataframe['MARRIAGE']


# Make new dataframe with chosen columns

merged_data = pd.concat([sex, edu, mar, payment], axis=1)

merged_data

In [17]:
print(np.unique(X[:,0]))
print(np.unique(X[:,1]))
print(np.unique(X[:,2]))
print(np.unique(X[:,3]))
print(np.unique(X[:,4]))
print(np.unique(X[:,5]))
print(np.unique(X[:,6]))
print(np.unique(X[:,7]))
print(np.unique(X[:,8]))
print(np.unique(X[:,9]))
print(np.unique(X[:,10]))
print(np.unique(X[:,11]))
print(np.unique(X[:,12]))
print(np.unique(X[:,13]))
print(np.unique(X[:,14]))
print(np.unique(X[:,15]))
print(np.unique(X[:,16]))
print(np.unique(X[:,17]))
print(np.unique(X[:,18]))
print(np.unique(X[:,19]))
print(np.unique(X[:,20]))
print(np.unique(X[:,21]))
print(np.unique(X[:,22]))
print(np.unique(X[:,23]))
print(np.unique(X[:,24]))
print(np.unique(X[:,25]))

[0. 1.]
[0. 1.]
[0. 1.]
[0. 1.]
[  10000.   16000.   20000.   30000.   40000.   50000.   60000.   70000.
   80000.   90000.  100000.  110000.  120000.  130000.  140000.  150000.
  160000.  170000.  180000.  190000.  200000.  210000.  220000.  230000.
  240000.  250000.  260000.  270000.  280000.  290000.  300000.  310000.
  320000.  327680.  330000.  340000.  350000.  360000.  370000.  380000.
  390000.  400000.  410000.  420000.  430000.  440000.  450000.  460000.
  470000.  480000.  490000.  500000.  510000.  520000.  530000.  540000.
  550000.  560000.  570000.  580000.  590000.  600000.  610000.  620000.
  630000.  640000.  650000.  660000.  670000.  680000.  690000.  700000.
  710000.  720000.  730000.  740000.  750000.  760000.  780000.  800000.
 1000000.]
[1. 2.]
[0. 1. 2. 3. 4. 5. 6.]
[21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38.
 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53. 54. 55. 56.
 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71. 72. 73. 74.
 75. 79.]
[-2. -1.  0.  1.  2.  3.  4.  5.  6.  7.  8.]
[-2. -1.  0.  1.  2.  3.  4.  5.  6.  7.  8.]
[-2. -1.  0.  1.  2.  3.  4.  5.  6.  7.  8.]
[-2. -1.  0.  1.  2.  3.  4.  5.  6.  7.  8.]
[-2. -1.  0.  2.  3.  4.  5.  6.  7.  8.]
[-2. -1.  0.  2.  3.  4.  5.  6.  7.  8.]
[-165580. -154973.  -15308. ...  653062.  746814.  964511.]
[-69777. -67526. -33350. ... 671563. 743970. 983931.]
[-157264.  -61506.  -46127. ...  693131.  855086. 1664089.]
[-170000.  -81334.  -65167. ...  628699.  706864.  891586.]
[-81334. -61372. -53007. ... 587067. 823540. 927171.]
[-339603. -209051. -150953. ...  568638.  699944.  961664.]
[0.00000e+00 1.00000e+00 2.00000e+00 ... 4.93358e+05 5.05000e+05
 8.73552e+05]
[0.000000e+00 1.000000e+00 2.000000e+00 ... 1.215471e+06 1.227082e+06
 1.684259e+06]
[0.00000e+00 1.00000e+00 2.00000e+00 ... 5.08229e+05 8.89043e+05
 8.96040e+05]
[0.00000e+00 1.00000e+00 2.00000e+00 ... 4.97000e+05 5.28897e+05
 6.21000e+05]
[0.00000e+00 1.00000e+00 2.00000e+00 ... 3.88071e+05 4.17990e+05
 4.26529e+05]
[0.00000e+00 1.00000e+00 2.00000e+00 ... 4.43001e+05 5.27143e+05
 5.28666e+05]

In [116]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)
#print(scaler.mean_)
#print(scaler.transform(X))
X = scaler.transform(X)
print(np.unique(X[:,0]))
print(np.unique(X[:,1]))
print(np.unique(X[:,2]))
print(np.unique(X[:,3]))
print(np.unique(X[:,4]))
print(np.unique(X[:,5]))
print(np.unique(X[:,6]))
print(np.unique(X[:,7]))
print(np.unique(X[:,8]))
print(np.unique(X[:,9]))
print(np.unique(X[:,10]))
print(np.unique(X[:,11]))
print(np.unique(X[:,12]))
print(np.unique(X[:,13]))
print(np.unique(X[:,14]))
print(np.unique(X[:,15]))
print(np.unique(X[:,16]))
print(np.unique(X[:,17]))
print(np.unique(X[:,18]))
print(np.unique(X[:,19]))
print(np.unique(X[:,20]))
print(np.unique(X[:,21]))
print(np.unique(X[:,22]))
print(np.unique(X[:,23]))
print(np.unique(X[:,24]))
print(np.unique(X[:,25]))

[-0.04246464 23.54900328]
[-0.91426088  1.09377971]
[-1.06647132  0.93767172]
[-0.10432569  9.58536681]
[-1.21379411 -1.16754973 -1.13672015 -1.05964618 -0.98257222 -0.90549825
 -0.82842429 -0.75135032 -0.67427636 -0.59720239 -0.52012843 -0.44305446
 -0.3659805  -0.28890654 -0.21183257 -0.13475861 -0.05768464  0.01938932
  0.09646329  0.17353725  0.25061122  0.32768518  0.40475915  0.48183311
  0.55890707  0.63598104  0.713055    0.79012897  0.86720293  0.9442769
  1.02135086  1.09842483  1.17549879  1.2346916   1.25257276  1.32964672
  1.40672068  1.48379465  1.56086861  1.63794258  1.71501654  1.79209051
  1.86916447  1.94623844  2.0233124   2.10038637  2.17746033  2.2545343
  2.33160826  2.40868222  2.48575619  2.56283015  2.63990412  2.71697808
  2.79405205  2.87112601  2.94819998  3.02527394  3.10234791  3.17942187
  3.25649583  3.3335698   3.41064376  3.48771773  3.56479169  3.64186566
  3.71893962  3.79601359  3.87308755  3.95016152  4.02723548  4.10430944
  4.18138341  4.25845737  4.33553134  4.4126053   4.48967927  4.56675323
  4.72090116  4.87504909  6.41652838]
[-1.23432296  0.81016074]
[-2.34474266 -1.0794572   0.18582826  1.45111372  2.71639918  3.98168464
  5.2469701 ]
[-1.57147887 -1.46299253 -1.35450619 -1.24601985 -1.13753351 -1.02904717
 -0.92056083 -0.81207449 -0.70358815 -0.59510181 -0.48661547 -0.37812914
 -0.2696428  -0.16115646 -0.05267012  0.05581622  0.16430256  0.2727889
  0.38127524  0.48976158  0.59824792  0.70673426  0.8152206   0.92370693
  1.03219327  1.14067961  1.24916595  1.35765229  1.46613863  1.57462497
  1.68311131  1.79159765  1.90008399  2.00857033  2.11705667  2.225543
  2.33402934  2.44251568  2.55100202  2.65948836  2.7679747   2.87646104
  2.98494738  3.09343372  3.20192006  3.3104064   3.41889274  3.52737907
  3.63586541  3.74435175  3.85283809  3.96132443  4.06981077  4.17829711
  4.28678345  4.72072881]
[-1.76484282 -0.87499115  0.01486052  0.90471219  1.79456386  2.68441553
  3.57426721  4.46411888  5.35397055  6.24382222  7.13367389]
[-1.55887596 -0.72356993  0.1117361   0.94704214  1.78234817  2.61765421
  3.45296024  4.28826627  5.12357231  5.95887834  6.79418438]
[-1.53219171 -0.69666346  0.1388648   0.97439305  1.8099213   2.64544955
  3.4809778   4.31650605  5.15203431  5.98756256  6.82309081]
[-1.52194355 -0.66659873  0.18874609  1.04409091  1.89943574  2.75478056
  3.61012538  4.4654702   5.32081502  6.17615985  7.03150467]
[-1.53004603 -0.64756476  0.23491652  1.99987907  2.88236034  3.76484162
  4.64732289  5.52980417  6.41228544  7.29476672]
[-1.48604076 -0.61645169  0.25313738  1.99231551  2.86190458  3.73149365
  4.60108272  5.47067178  6.34026085  7.20984992]
[-2.94431195 -2.80026289 -0.90353313 ...  8.17330979  9.44651501
 12.4029635 ]
[-1.671375   -1.63974765 -1.15956274 ...  8.74471464  9.76205865
 13.13359571]
[-2.94567215 -1.56484387 -1.34307902 ...  9.31700536 11.65239295
 23.31819872]
[-3.31504796 -1.93678679 -1.68548021 ...  9.10026142 10.31529068
 13.18668626]
[-2.00087367 -1.67253047 -1.53493951 ...  8.99326136 12.88286669
 14.58743208]
[-6.35524709 -4.16305277 -3.18748668 ...  8.8956932  11.10054848
 15.49528081]
[-0.34194162 -0.34188124 -0.34182087 ... 29.44480426 30.14769607
 52.39921478]
[-0.25698952 -0.25694612 -0.25690271 ... 52.49671454 53.00065355
 72.84298641]
[-0.29680127 -0.29674448 -0.29668768 ... 28.56891026 50.1978749
 50.59528115]
[-0.30806256 -0.30799873 -0.3079349  ... 31.41689695 33.45297549
 39.3321786 ]
[-0.31413612 -0.31407066 -0.31400521 ... 25.08642047 27.04471999
 27.60362636]
[-0.29338206 -0.29332581 -0.29326955 ... 24.62627686 29.35942631
 29.44509799]

# Egen logistic regression.

In [160]:

eta = 0.0001 # This is out eta
#m = 10

Niteration = 5
#beta = np.random.randn(26,1)
#
beta = parameters.reshape([26,1])

for iter in range(Niteration):
    
    sig = sigmoid(XTrain@beta)
    gradients = -(np.transpose(XTrain)@(yTrain-sig))
    beta -= eta*gradients
  
    #Cost function
    cost = cost_log_ols(XTrain@beta,yTrain)
 
    print('cost is', cost)

cost is 169513727.15771538
cost is 173592565.08923486
cost is 169513736.66230506
cost is 173592551.10736522
cost is 169513745.3224298

In [106]:
eta = 0.1 # This is out eta

Niteration = 100
beta = np.random.randn(26,1)
#
#beta = parameters.reshape([26,1])

for iter in range(Niteration):
    
    sig = sigmoid(XTrain@beta)
    #gradients = -(np.transpose(XTrain)@(yTrain-sig))
    gradient = np.dot(XTrain.T, (sig - yTrain)) / yTrain.shape[0]
    beta -= eta*gradient
    #beta , pred  = fx.OridinaryLeastSquares(XTrain, yTrain,XTrain)
    #Cost function
    cost = cost_log_ols(XTrain@beta,yTrain.T)
    logloss=log_loss(yTrain, np.round(XTrain@beta), eps=1e-16, normalize=True)
    #cost = (-yTrain * np.log(sig) - (1 - yTrain) * np.log(1 - sig)).mean()
    print('cost is', cost)
    print('logl is', logloss)

cost is [[1.61336638]]
logl is 17.31939576120805
cost is [[1.57053352]]
logl is 17.177207384447662
cost is [[1.52988973]]
logl is 17.008127482364685
cost is [[1.49140793]]
logl is 16.839019697370176
cost is [[1.45488033]]
logl is 16.694479790762156
cost is [[1.42057713]]
logl is 16.527807184349864
cost is [[1.38828566]]
logl is 16.390586754944252
cost is [[1.35793141]]
logl is 16.23131727446895
cost is [[1.32942312]]
logl is 16.045177180854708
cost is [[1.30261549]]
logl is 15.85164093203135
cost is [[1.27755597]]
logl is 15.584624111340762
cost is [[1.2540694]]
logl is 15.4082526149669
cost is [[1.2320799]]
logl is 15.21706789599118
cost is [[1.21154033]]
logl is 15.045594639693277
cost is [[1.19232856]]
logl is 14.834844843325255
cost is [[1.17440124]]
logl is 14.665792824153804
cost is [[1.15766474]]
logl is 14.506579109501557
cost is [[1.14202951]]
logl is 14.325253607228685
cost is [[1.12743826]]
logl is 14.168482041886538
cost is [[1.11381904]]
logl is 13.992047808961741
cost is [[1.10109497]]
logl is 13.867052067562375
cost is [[1.08921192]]
logl is 13.746982449150495
cost is [[1.07810073]]
logl is 13.612169315415569
cost is [[1.06771165]]
logl is 13.465061786395578
cost is [[1.05798547]]
logl is 13.369434573268308
cost is [[1.04887306]]
logl is 13.295884294122251
cost is [[1.04032918]]
logl is 13.210095385514188
cost is [[1.03230789]]
logl is 13.102299250203727
cost is [[1.02476723]]
logl is 12.99939438424134
cost is [[1.01766812]]
logl is 12.920945865019329
cost is [[1.01097231]]
logl is 12.781234491208444
cost is [[1.00464679]]
logl is 12.683248777505662
cost is [[0.99865915]]
logl is 12.565642220587522
cost is [[0.99298165]]
logl is 12.452926933017457
cost is [[0.98758854]]
logl is 12.399025379998283
cost is [[0.98245586]]
logl is 12.281418823080145
cost is [[0.97756196]]
logl is 12.17119447991535
cost is [[0.97288812]]
logl is 12.1001212037188
cost is [[0.96833798]]
logl is 12.011897116528521
cost is [[0.96405202]]
logl is 11.92370091224977
cost is [[0.95993762]]
logl is 11.857553759040703
cost is [[0.95598098]]
logl is 11.757091042388415
cost is [[0.95217041]]
logl is 11.690916006267823
cost is [[0.94849503]]
logl is 11.61250234068522
cost is [[0.94494458]]
logl is 11.556095901805016
cost is [[0.9415102]]
logl is 11.487471745646447
cost is [[0.93814882]]
logl is 11.423808566114769
cost is [[0.93492263]]
logl is 11.3674648637855
cost is [[0.93171187]]
logl is 11.311135102911996
cost is [[0.9286665]]
logl is 11.264587880734641
cost is [[0.92567989]]
logl is 11.171500407107814
cost is [[0.92279264]]
logl is 11.127430187879964
cost is [[0.9199771]]
logl is 11.098047718152104
cost is [[0.91721211]]
logl is 11.056391765322823
cost is [[0.91452765]]
logl is 11.03190056494304
cost is [[0.91188959]]
logl is 10.995135881461836
cost is [[0.9092868]]
logl is 10.968202531771956
cost is [[0.90676131]]
logl is 10.95107263296187
cost is [[0.90428839]]
logl is 10.904504498600868
cost is [[0.90186499]]
logl is 10.87267290883503
cost is [[0.8994657]]
logl is 10.840841319069193
cost is [[0.89705586]]
logl is 10.818813180183149
cost is [[0.89476644]]
logl is 10.774729019499537
cost is [[0.89250059]]
logl is 10.750251760575514
cost is [[0.89020767]]
logl is 10.725739648012086
cost is [[0.8880173]]
logl is 10.70369756767028
cost is [[0.88587671]]
logl is 10.686560698132311
cost is [[0.88375965]]
logl is 10.67186597790444
cost is [[0.88167753]]
logl is 10.654736079094357
cost is [[0.87959105]]
logl is 10.625339667910733
cost is [[0.87757184]]
logl is 10.591017133739623
cost is [[0.87558148]]
logl is 10.55916463179014
cost is [[0.87358628]]
logl is 10.527312129840654
cost is [[0.87162697]]
logl is 10.50527004949885
cost is [[0.86972235]]
logl is 10.488112267777236
cost is [[0.86783937]]
logl is 10.470982368967153
cost is [[0.86594374]]
logl is 10.444014165637862
cost is [[0.86411189]]
logl is 10.431775536175849
cost is [[0.86228916]]
logl is 10.417073845220097
cost is [[0.8604761]]
logl is 10.399909092770603
cost is [[0.85870525]]
logl is 10.382765252504754
cost is [[0.85695346]]
logl is 10.365614441511024
cost is [[0.85521925]]
logl is 10.336204088871636
cost is [[0.85350357]]
logl is 10.311705917763968
cost is [[0.85181157]]
logl is 10.28965686669428
cost is [[0.85013707]]
logl is 10.270042994206808
cost is [[0.84848758]]
logl is 10.265137783402968
cost is [[0.84685538]]
logl is 10.255334332523173
cost is [[0.84524316]]
logl is 10.240632641567421
cost is [[0.84364869]]
logl is 10.208787110345819
cost is [[0.84206836]]
logl is 10.19164327007997
cost is [[0.84050827]]
logl is 10.176934608396335
cost is [[0.83896552]]
logl is 10.157334677364627
cost is [[0.83744144]]
logl is 10.145089077174733
cost is [[0.83593101]]
logl is 10.125503087598787
cost is [[0.8344396]]
logl is 10.113271428864659
cost is [[0.8329646]]
logl is 10.093678468560832
cost is [[0.83150376]]
logl is 10.069173326725283
cost is [[0.83005961]]
logl is 10.054478606497412
cost is [[0.8286314]]
logl is 10.039776915541658

In [111]:
#pred_classes = sigmoid()

#print(np.array_equal(pred_classes, np.round(pred_classes)))
#print(pred_classes)

#beta = parameters.reshape([26,1])
activation =sigmoid(XTrain@beta) 
classes = np.zeros([len(activation)])



classes=np.round(activation)
print(100*np.sum(classes==yTrain)/len(activation),'%')

62.96 %

# Accuracy. 
Både egen kode og tester med scikit.

In [144]:
activation =sigmoid(X@beta) 
classes = np.zeros([len(activation)])

for i in range (len(activation)):
    if activation[i]>=0.5:
        classes[i] = 1 
    else:
        classes[1] = 0

In [147]:
print(classes)
print(activation)
print(np.array_equal(classes,activation))

[0. 0. 0. ... 0. 1. 0.]
[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [1.]
 [0.]]
False

In [50]:
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import log_loss

model = LogisticRegression()
model.fit(XTrain, yTrain)
predicted_classes = model.predict(XTrain)
accuracy = accuracy_score(yTrain.flatten(),predicted_classes)
accuracy = accuracy * 100
parameters = model.coef_
log_loss(yTrain, predicted_classes)

C:\Users\vemundst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\vemundst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

6.357454020076612

In [51]:
#print(parameters)
print(accuracy, '%')

81.59333333333333 %

# Tips fra gruppelærer: 
Lage et enklere dataset som har x med 1000 elementer og første 500 verdiene = 0 og de siste etter = 1, slik at y fra 0 - 500 = 0 osv. Sjekker man logisitic regression på dette så vil accuracy være 100% med scikit. Kan bruke cost-funksjon med log for OLS. Ikke nødvenig å kjøre for Ridge og Lasso, dette er tidskrevende for oppgaven. Han tror ikke vi har tid til dette. Var inne på god tanke med loopen.

# Eget dataset:

In [47]:
x_test = np.zeros([999, 1])
y_test = np.zeros([999, 1])

y_test[500:999, 0] = 1

x_test[500:999, 0] = 1

In [51]:
#print(x_test)
#print(y_test)

In [49]:
model = LogisticRegression()
model.fit(x_test, y_test)
predicted_classes = model.predict(x_test)
accuracy = accuracy_score(y_test.flatten(),predicted_classes)
accuracy = accuracy * 100
parameters = model.coef_

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [50]:
#print(parameters)
print(accuracy, '%')

100.0 %

In [52]:
beta = np.random.randn(26,1)

In [53]:
print(beta)

[[ 1.53277921]
 [ 1.46935877]
 [ 0.15494743]
 [ 0.37816252]
 [-0.88778575]
 [-1.98079647]
 [-0.34791215]
 [ 0.15634897]
 [ 1.23029068]
 [ 1.20237985]
 [-0.38732682]
 [-0.30230275]
 [-1.04855297]
 [-1.42001794]
 [-1.70627019]
 [ 1.9507754 ]
 [-0.50965218]
 [-0.4380743 ]
 [-1.25279536]
 [ 0.77749036]
 [-1.61389785]
 [-0.21274028]
 [-0.89546656]
 [ 0.3869025 ]
 [-0.51080514]
 [-1.18063218]]